# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build-historic-water-v4.7z
build/asset-manifest.json
build/index.html
build/manifest.json
build/precache-manifest.7aad2297a77c4a20e2255d98dc5b22d7.js
build/asset-manifest.json
build/index.html
build/manifest.json
build/precache-manifest.7aad2297a77c4a20e2255d98dc5b22d7.js
build/static/js/runtime~main.229c360f.js.map
build/static/js/runtime~main.229c360f.js
build/static/js/main.fb9e3b60.chunk.js.map
