body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100%;
}

.map{
    height: 100%;
}

.layers-card{
     position: absolute;
     z-index: 400;
     top: 0;
     right: 0;
     text-align: center;
 }
 
 .layers-controls{
    text-align: left;
 }
